@import "compass/css3";


html{background-image: url(http://www.graphicartsunit.com/images/noise.png)}

h1 {font-family: 'Playfair Display', Cursive;
  font-size: 5em;
  color: #878787;}
h2{ font-family: 'Playfair Display', Cursive;
    font-size: 3em;}
h3{font-family:'Playfair Display', Cursive;
    font-size:2em;}
.nav {
  font-family: 'Playfair Display', Cursive;
  font-size: 1em;
/*  background-image: url(http://www.graphicartsunit.com/images/noise.png);
  background-color: #878787;*/
  list-style: none;
  text-align: center; 
      }

#wrapper {
  width: 40%;
  margin: 0 auto;
}



.center {padding-top: 10%;}
#wrapper, #wrapper1{
  background: url("../img/logo1.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: center center; 
  z-index: -1;
}
.overlay{background-color:#FF;
  padding-left:10%;
border-radius: 10px;}

div {
  text-align: center;
      }

.nav li {
  display: inline;  
      }

.nav a {
  display: inline-block;
  padding: 1em;
      }

  p {text-align: left;
    font-weight: bold;}

.education,.home, .work, .design, .writing, .editing, .publicrelations, .pr, .contact {
  border: .25em solid #878787;
  width: auto;
  display: block;
  font-size: .9em;
  font-weight: bold;
  border-radius: 40px;
  padding: .25em;
  background-color:#f0648e;
  font-color: #ffffff;}

/* Each state */

*a:visited { text-decoration: none; color:#fff; }
a:hover { text-decoration: none; color:#fff; }
a:focus { text-decoration: none; color:#fff; }
a:hover, a:active { text-decoration: none; color:#fff }


a {
  text-decoration:none;
  border-radius:30px;
  padding:12px 53px 12px 23px;
  color:#fff;
  font-weight:bold;
  position:relative;
  transition:all .3s;
  display:inline-block;}

.round {-webkit-transition-property:background 0.3s ease-out;} 
span {
    position:relative;
     z-index:3;

  .round {
    border-radius:50%;
    width:38px;
    height:38px;
    position:absolute;
    right:3px;
    top:3px;
    z-index:2;
    @include:transition(all .3s ease-out);

  i {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      left: 50%;
      margin-left: -4px;
      @include transition(all .3s);
    }
      }
        }